[submodule "sublime"]
	path = sublime
	url = git@github.com:jawshooah/sublime-user-package.git
[submodule "vim/vim.symlink"]
	path = vim/vim.symlink
	url = git@github.com:jawshooah/vim-pathogen.git
[submodule "opam.symlink"]
	path = opam.symlink
	url = git@github.com:jawshooah/opam-repository.git
